body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 80vh; /* Ajusta la altura según tus preferencias, dejando espacio para el footer */
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro-container {
    text-align: center;
    max-width: 600px;
    margin: 20% auto; /* Ajusta la posición vertical según tus preferencias */
    color: white; /* Ajusta el color del texto para que sea legible sobre el video */
    z-index: 1; /* Asegura que el contenido esté en la parte superior del video */
}



.intro-container h1 {
    font-size: 2.5em;
}

.intro-container p {
    font-size: 1.2em;
    color: #777;
}

.entrar-btn {
    display: inline-block;
    padding: 10px 70px;
    background-color: #cc1313;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 30px;
    border-bottom: 1px solid rgba(212, 26, 26, 0.1);
    border-top: 1px solid rgb(225,225,225,0.1);
    box-shadow: 0 15 px 35px rgb(0,0,0,0.2);
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
}
   

footer {
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: -6px;
}
#footerVideo{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 190%;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cambia la opacidad según tus preferencias */
    z-index: -1;
}


/* Imagen de la parte derecha abajo*/
#esquinaInferiorDerecha{ 
    position: absolute;
    bottom: 1.5em;
    right: -5em;
    justify-content: right;
    width:200px; /* Ajusta el ancho según sea necesario */
    height: auto;

}
/* Imagen de la parte izquierda abajo*/
#esquinaInferiorIzquierda{
    position: absolute;
    bottom: 0em;
    padding: 1.5rem;
    left: -6.4em;
    justify-content: left;
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: auto;

}

#esquinaSuperiorDerecha{
    position: absolute;
    bottom: 30.8em;
    transform: rotate(180deg);
    margin-top: 50px;
    width: 200px;
    height: auto;
   justify-content:right;
   right: -5em;

}

#esquinaSuperiorIzquierda{
    position: absolute;
    bottom: 35em;
    width: 250px;
    height: auto;
    justify-content: left;
    left: -1.4em;
}

#centrosupeior{
    position: absolute;
    bottom: 36em;
    padding: 1.5rem;
    left: 3.4em;
    justify-content: left;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto;
}

#superman{
    position: absolute;
    bottom: 4em;
    padding: 1.5rem;
    left: 3.4em;
    justify-content: left;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto;
}

#batman{
    position: absolute;
    bottom: 4em;
    padding: 1.9rem;
    right: 3.4em;
    justify-content: right;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: auto;
}

#st{
    position: absolute;
    bottom: 34em;
    width: 100px;
    height: auto;
    justify-content: left;
    left: 10em;
}

#flash{
    position: absolute;
    bottom: 38.8em;
    width: 100px;
    height: auto;
   justify-content:right;
   right: 4.4em;
}

#tierra{
    position: absolute;
    bottom: 35.5em;
    width: 150px;
    height: auto;
    justify-content: left;
    left: -4.5em;
}

#wonder{
    position: absolute;
    bottom: 4em;
    padding: 1.5rem;
    left: 43.3em;
    justify-content: left;
    width: 130px; /* Ajusta el ancho según sea necesario */
    height: auto;
}
